.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #202022;
  color: #F2E7DC;
}

.headerWrapper {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flightsTable {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.header {
  text-justify: center;
}

.btn{
	box-shadow: none !important
}